### Sprint I - Visualizaci√≥n

In [3]:
import pandas as pd
import numpy as np
import sidetable
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import re
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv("../datos/bikes_clean.csv", index_col = 0)

### Preguntas:

-

In [5]:
df.head()

,dteday,season,yr,mnth,holiday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,weekday
instant,,,,,,,,,,,,,,,
1,2018-01-01,winter,0,1,1,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985,1
2,2018-02-01,winter,0,2,0,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801,4
3,2018-03-01,winter,0,3,0,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349,4
4,2018-04-01,spring,0,4,0,0,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562,7
5,2018-05-01,spring,0,5,0,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600,2