### Sprint I

- Pasar "dteday" a datetime.
- Comprobar "season": Poner bien las estaciones según el mes.
- El asunto del workingday: el workingday significa que no es fin de semana ni vacaciones según el punto de vista de Washington.

**DAILY 19-ENE**: Si el dia no es ni fin de semana ni festivo (según WA), es 1, si no es 0. Lo dejamos como pendiente. para verlo mañana con el calendario.

In [139]:
import pandas as pd
import numpy as np
import datetime

In [140]:
df = pd.read_csv("../datos/bikes.csv", index_col = 0)

In [141]:
df.sample(6)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
640,641,03-10-2019,winter,1,10,0,3,1,2,26.957500,29.95665,79.3750,4.458569,728,6844,7572
316,317,13-11-2018,winter,0,11,0,0,0,1,18.074153,21.52750,45.8333,18.875307,1004,2713,3717
356,357,23-12-2018,spring,0,12,0,5,1,1,15.306653,18.87565,68.6250,18.374482,163,2046,2209
11,12,12-01-2018,spring,0,1,0,3,1,1,7.081807,8.02365,59.9545,20.410009,25,1137,1162
112,113,23-04-2018,summer,0,4,0,6,0,2,18.860000,22.50605,88.7917,15.458575,1462,2574,4036
641,642,04-10-2019,winter,1,10,0,4,1,2,26.957500,30.39875,72.2917,7.875582,891,6437,7328

In [142]:
df = df.set_index("instant")
df.head()

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [143]:
df.head()

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [144]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.683562,0.465405,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 1 to 730
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      730 non-null    object
 1   season      730 non-null    object
 2   yr          730 non-null    int64
 3   mnth        730 non-null    int64
 4   holiday     730 non-null    int64
 5   weekday     730 non-null    int64
 6   workingday  730 non-null    int64
 7   weathersit  730 non-null    int64
 8   temp        730 non-null    float64
 9   atemp       730 non-null    float64
 10  hum         730 non-null    float64
 11  windspeed   730 non-null    float64
 12  casual      730 non-null    int64
 13  registered  730 non-null    int64
 14  cnt         730 non-null    int64
dtypes: float64(4), int64(9), object(2)
memory usage: 91.2+ KB

In [146]:
df.duplicated().sum()

0

In [147]:
df.isnull().sum()

dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [148]:
df["season"].unique()

array(['spring', 'summer', 'autumn', 'winter'], dtype=object)

In [149]:
df["yr"].unique()

array([0, 1])

In [150]:
df["mnth"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [151]:
df["holiday"].unique()

array([0, 1])

In [152]:
df.columns

Index(['dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt'],
      dtype='object')

In [153]:
df["weekday"].unique()

array([6, 0, 1, 2, 3, 4, 5])

In [154]:
df["workingday"].unique()

array([0, 1])

In [155]:
df["weathersit"].unique() # No tenemos 4 (tormenta, lluvia fuerte....)

array([2, 1, 3])

In [156]:
df["temp"].unique()

array([14.110847 , 14.902598 ,  8.050924 ,  8.2      ,  9.305237 ,
        8.378268 ,  8.057402 ,  6.765    ,  5.671653 ,  6.184153 ,
        6.932731 ,  7.081807 ,  6.59567  ,  9.566653 ,  9.498347 ,
        7.209153 ,  8.883347 , 11.979134 , 10.728347 ,  7.2775   ,
        2.4243464,  3.9573897,  3.9930433,  9.162598 ,  8.9175   ,
        7.995    ,  8.342598 ,  8.877402 ,  7.414153 ,  7.879134 ,
       10.66     ,  7.665237 ,  8.663464 , 11.719153 , 11.138347 ,
        9.054153 ,  5.526103 ,  5.918268 ,  7.752731 ,  9.1225   ,
       12.977402 , 17.015    , 10.909567 , 13.048701 , 17.869153 ,
       21.388347 , 16.365847 , 11.693897 , 12.436653 ,  7.471102 ,
        9.091299 , 12.121732 , 14.938268 , 11.5825   , 14.082598 ,
       16.698193 , 10.933347 , 13.735    ,  8.131653 , 15.750847 ,
       15.437402 , 10.731299 , 11.9925   , 12.129153 , 15.952731 ,
       13.495847 , 15.758268 , 13.333897 , 13.013031 , 14.973897 ,
       22.14     , 19.3725   , 13.6325   , 17.647835 , 18.108347 ,
       14.225237 , 11.685    , 10.830847 , 10.899153 , 10.374763 ,
       10.838268 , 12.4025   , 12.3      , 11.001653 , 12.915    ,
       15.511653 , 23.506653 , 16.980847 , 16.024153 , 17.9375   ,
       13.769153 , 14.0425   , 17.493347 , 24.421732 , 20.6025   ,
       16.9125   , 19.1675   , 18.313347 , 17.664153 , 18.723347 ,
       21.0125   , 20.739153 , 24.395    , 18.825847 , 13.803347 ,
       18.86     , 23.848347 , 24.873347 , 25.898347 , 25.42     ,
       25.3175   , 20.91     , 18.518347 , 22.515847 , 25.283347 ,
       19.645847 , 21.32     , 21.661653 , 21.8325   , 22.2425   ,
       21.935    , 21.354153 , 23.0625   , 23.6775   , 23.028347 ,
       22.55     , 21.764153 , 22.003347 , 24.7025   , 24.770847 ,
       27.06     , 27.094153 , 29.041653 , 27.948347 , 26.889153 ,
       27.3675   , 30.066653 , 31.775    , 31.330847 , 29.315    ,
       26.035    , 26.581653 , 27.811653 , 29.0075   , 31.809153 ,
       33.141653 , 30.955    , 29.725    , 28.3925   , 25.693347 ,
       25.761653 , 26.615847 , 28.563347 , 28.665847 , 27.914153 ,
       29.861653 , 29.690847 , 28.495    , 27.88     , 27.9825   ,
       30.510847 , 29.6225   , 30.271653 , 29.383347 , 29.793347 ,
       30.613347 , 29.52     , 30.75     , 29.075847 , 30.6475   ,
       31.2625   , 32.560847 , 27.196653 , 28.153347 , 29.485847 ,
       31.843347 , 31.501653 , 33.415    , 34.781653 , 34.815847 ,
       34.03     , 30.476653 , 31.638347 , 31.945847 , 34.371653 ,
       32.970847 , 33.039153 , 32.116653 , 29.998347 , 29.11     ,
       29.144153 , 30.4425   , 31.365    , 31.433347 , 29.4175   ,
       28.119153 , 27.743347 , 27.299153 , 28.734153 , 29.656653 ,
       29.178347 , 28.085    , 28.5975   , 28.358347 , 26.274153 ,
       27.606653 , 28.050847 , 28.7      , 28.989419 , 26.103347 ,
       26.205847 , 26.923347 , 26.855    , 26.376653 , 27.435847 ,
       24.565847 , 25.990433 , 26.65     , 26.786653 , 26.418268 ,
       26.684153 , 19.235847 , 20.158347 , 20.8075   , 24.975847 ,
       26.000847 , 23.130847 , 16.81     , 14.623347 , 19.850847 ,
       22.071653 , 20.260847 , 20.944153 , 22.174153 , 23.404153 ,
       23.233347 , 22.276653 , 24.155847 , 22.584153 , 20.773347 ,
       20.978347 , 21.900847 , 22.211299 , 19.509153 , 17.5275   ,
       17.3225   , 17.288347 , 18.996653 , 19.338347 , 19.27     ,
       13.564153 , 10.420847 , 13.085847 , 13.94     , 16.434153 ,
       15.4775   , 16.741653 , 16.536653 , 13.393347 , 14.281653 ,
       16.195    , 16.4      , 15.58     , 13.290847 , 18.074153 ,
       21.73     , 14.008347 , 11.240847 , 18.3475   , 17.083347 ,
       15.306653 , 15.375    , 15.409153 , 20.642598 , 18.791653 ,
       13.325    , 12.8125   , 12.880847 , 12.265847 , 15.819153 ,
       18.9625   , 11.924153 , 11.275    ,  9.771653 , 13.0175   ,
       10.591653 , 11.343347 , 17.561653 , 17.356653 , 11.266103 ,
       13.191299 , 12.26433  , 10.181653 , 12.778347 , 15.17     ,
       11.194763 ,  6.15     ,  4.4075   , 13.700847 , 16.126653 ,
       13.8375   ,  9.190847 , 12.656536 , 15.6825   ,  7.38     ,
        6.833347 ,  7.79     , 15.294763 ,  7.106653 ,  6.6625   ,
        8.951653 , 12.060847 , 17.425    , 12.949153 , 11.035847 ,
       15.99     , 12.846653 , 11.586969 , 14.520847 , 10.523347 ,
       10.865    , 11.514153 ,  5.2275   , 12.983347 , 14.076653 ,
       14.213347 , 11.48     , 11.800866 , 16.229153 , 18.620847 ,
       16.7075   , 11.445847 , 15.033347 , 14.725847 , 19.919153 ,
       14.486653 , 13.359153 ,  9.976653 , 16.570847 , 21.6275   ,
       16.844153 , 11.7875   , 14.831299 , 19.133347 , 23.165    ,
       23.4725   , 22.8575   , 21.080847 , 22.345    , 22.994153 ,
       21.798347 , 22.720847 , 24.668347 , 18.279153 , 13.256653 ,
       17.390847 , 17.459153 , 17.790433 , 22.208347 , 17.835    ,
       20.5      , 20.055847 , 14.296536 , 16.2975   , 18.1425   ,
       20.295    , 27.230847 , 24.941653 , 20.431653 , 21.593347 ,
       23.37     , 16.263347 , 13.188347 , 16.946653 , 19.543347 ,
       18.7575   , 15.443347 , 19.030847 , 25.146653 , 22.96     ,
       25.7275   , 25.488347 , 22.0375   , 23.575    , 21.866653 ,
       25.1125   , 25.078347 , 24.326653 , 24.6      , 25.454153 ,
       24.531653 , 25.215    , 28.29     , 29.2125   , 26.820847 ,
       23.916653 , 24.4975   , 29.554153 , 24.2925   , 23.301653 ,
       28.221653 , 32.0825   , 31.8775   , 29.349153 , 25.864153 ,
       30.715847 , 34.200847 , 33.449153 , 32.048347 , 32.014153 ,
       32.355847 , 33.9275   , 33.961653 , 35.328347 , 33.7225   ,
       28.836653 , 30.579153 , 31.296653 , 33.551653 , 32.526653 ,
       31.57     , 24.429153 , 30.408347 , 30.784153 , 30.989153 ,
       29.588347 , 29.964153 , 29.246653 , 30.8525   , 31.399153 ,
       31.535847 , 30.169153 , 28.973347 , 26.069153 , 28.529153 ,
       28.8025   , 27.128347 , 30.886653 , 29.759153 , 30.203347 ,
       27.025847 , 25.01     , 25.966653 , 23.78     , 23.814153 ,
       25.556653 , 22.6525   , 22.413347 , 21.695847 , 25.385847 ,
       24.224153 , 26.9575   , 17.049153 , 15.716653 , 19.201653 ,
       18.689153 , 21.4225   , 23.096653 , 19.9875   , 22.310847 ,
       24.0875   , 22.379153 , 19.5775   , 18.04     , 13.045462 ,
       14.6575   , 14.999153 , 14.555    , 14.439134 , 14.828347 ,
       15.955847 , 17.254153 , 19.885    , 11.855847 , 14.145    ,
       15.614153 , 15.340847 , 15.101653 , 11.411653 , 10.079153 ,
       11.958347 , 12.163347 , 11.51567  , 12.231653 , 14.2475   ,
       18.5525   , 17.971653 , 10.489153 , 13.154153 , 15.648347 ,
       12.1975   , 11.548347 , 14.8625   , 13.53     ,  9.483464 ,
       11.943464 , 10.386653 ,  8.849153 ])

In [157]:
df["atemp"].unique()

array([18.18125 , 17.68695 ,  9.47025 , 10.6061  , 11.4635  , 11.66045 ,
       10.44195 ,  8.1127  ,  5.80875 ,  7.5444  ,  9.5732  ,  8.02365 ,
        7.54415 ,  9.42065 , 12.4056  , 11.71085 ,  8.83855 , 11.61665 ,
       14.9211  , 12.7525  ,  7.89165 ,  3.95348 ,  4.941955,  5.8965  ,
       11.7263  , 10.18    , 10.985   , 11.16585 , 10.6063  , 12.5161  ,
        9.3125  , 11.7265  , 12.72085 ,  8.8939  , 11.42935 , 12.1529  ,
       14.58355 , 15.1829  ,  9.9123  ,  7.21415 ,  7.4774  , 10.67545 ,
       11.6477  , 16.20565 , 19.9175  , 12.7137  , 15.81    , 21.4329  ,
       25.59915 , 19.5702  , 13.8665  , 14.20375 ,  9.30165 , 12.28585 ,
       14.45955 , 17.52305 , 14.1096  , 17.55545 , 20.0059  , 13.19395 ,
       16.00355 , 10.00665 , 12.78395 , 18.93895 , 18.3126  , 11.92305 ,
       15.12    , 14.3304  , 19.2834  , 15.25    , 16.2875  , 19.00455 ,
       16.6     , 15.9089  , 18.3465  , 20.51665 , 26.35045 , 23.32625 ,
       20.48675 , 22.0321  , 16.89695 , 13.54165 , 12.8156  , 12.87855 ,
       12.51695 , 12.8787  , 14.6454  , 14.8675  , 12.87875 , 14.1727  ,
       15.78185 , 18.93835 , 27.14645 , 19.3804  , 21.6848  , 16.22395 ,
       17.07645 , 21.33685 , 28.26085 , 24.6527  , 20.86415 , 23.1371  ,
       22.09565 , 21.2746  , 22.2848  , 25.1573  , 24.4629  , 28.2196  ,
       22.6946  , 16.0977  , 22.50605 , 27.58815 , 28.725   , 29.70415 ,
       28.7571  , 28.94645 , 24.87315 , 23.20105 , 22.4102  , 26.64165 ,
       29.10395 , 20.2325  , 22.09585 , 23.70585 , 25.63105 , 25.94665 ,
       26.2623  , 26.13605 , 26.42    , 26.16815 , 24.715   , 25.03145 ,
       26.8     , 27.5256  , 26.92645 , 26.3579  , 25.5371  , 26.4521  ,
       28.59875 , 29.5148  , 30.24065 , 30.7771  , 32.7344  , 31.8504  ,
       30.61895 , 30.7775  , 33.5546  , 36.26915 , 36.04835 , 32.1971  ,
       29.35665 , 29.7348  , 30.8402  , 31.0929  , 32.7975  , 36.36395 ,
       37.87895 , 35.1646  , 33.9019  , 32.16625 , 30.0827  , 29.5773  ,
       29.3877  , 29.7673  , 30.01915 , 32.1977  , 32.2923  , 31.8823  ,
       34.69145 , 34.69165 , 32.82915 , 32.16565 , 31.88145 , 31.8502  ,
       34.6279  , 32.6081  , 33.3654  , 33.42875 , 33.27085 , 34.8169  ,
       34.28165 , 34.34355 , 33.52415 , 33.2079  , 34.50125 , 36.4902  ,
       36.96375 , 34.4702  , 31.7552  , 31.21855 , 31.91315 , 33.49165 ,
       35.19625 , 37.37395 , 37.3425  , 41.31855 , 42.0448  , 40.21435 ,
       39.74145 , 36.0479  , 34.84895 , 34.53335 , 36.995   , 39.29835 ,
       36.42685 , 36.4898  , 35.35355 , 33.99685 , 33.2394  , 32.82835 ,
       33.8077  , 35.7646  , 35.16415 , 36.20605 , 34.24915 , 32.57605 ,
       32.7021  , 32.2929  , 31.2194  , 30.80835 , 32.29185 , 33.33355 ,
       33.1129  , 31.66105 , 32.4498  , 33.77625 , 31.9127  , 30.30335 ,
       31.5346  , 32.2927  , 32.98665 , 31.7778  , 32.39795 , 30.3979  ,
       29.7352  , 30.55605 , 30.74605 , 30.2404  , 31.66065 , 33.27145 ,
       31.2823  , 25.76    , 27.21145 , 27.76805 , 28.9473  , 30.3981  ,
       30.46145 , 30.1065  , 30.1777  , 31.345   , 27.68355 , 23.07375 ,
       23.9256  , 24.52685 , 26.48375 , 26.61085 , 27.52665 , 27.74815 ,
       26.10625 , 28.2206  , 28.63185 , 29.4521  , 28.72625 , 28.7579  ,
       28.7256  , 27.24145 , 20.64315 , 17.26585 , 19.6023  , 23.6429  ,
       26.3569  , 24.02125 , 25.2202  , 25.6621  , 26.19915 , 27.14625 ,
       27.3048  , 25.88585 , 27.5902  , 24.93625 , 25.1577  , 25.53625 ,
       25.6924  , 21.1798  , 21.11665 , 22.85335 , 23.16875 , 23.6423  ,
       22.8523  , 15.9406  , 11.39565 , 16.06645 , 17.80315 , 19.8544  ,
       19.50665 , 20.29605 , 20.1696  , 16.1927  , 18.1179  , 20.04355 ,
       20.6123  , 20.45395 , 18.68605 , 15.34085 , 17.8971  , 21.5275  ,
       26.2306  , 25.37895 , 22.5994  , 16.16105 , 13.63605 , 16.22415 ,
       22.8529  , 22.2531  , 21.0848  , 21.52685 , 18.62355 , 19.03355 ,
       19.25435 , 22.79    , 24.5061  , 22.56875 , 15.56105 , 15.2777  ,
       16.57165 , 15.5302  , 17.455   , 19.69625 , 22.82    , 20.0123  ,
       12.8469  , 15.8771  , 13.3206  , 12.6577  , 13.5098  , 15.0569  ,
       16.9181  , 20.61185 , 17.99125 , 12.46855 , 12.27895 , 14.04665 ,
       19.8227  , 21.40085 , 21.30605 , 18.87565 , 14.9621  , 13.99805 ,
       15.77675 , 16.38165 , 13.9987  , 13.1946  , 20.70605 , 18.78105 ,
       12.6152  ,  6.31375 ,  5.96685 , 13.9206  , 17.01335 , 19.53895 ,
       17.0129  , 12.37395 , 15.9413  , 14.14105 , 19.0969  , 12.4681  ,
        9.15435 ,  8.08125 ,  9.53315 , 18.2139  , 13.7627  ,  9.5019  ,
       11.0479  ,  8.74375 ,  8.1125  , 17.4554  , 14.74105 , 17.8025  ,
       20.76915 , 16.31895 , 13.13125 , 19.06585 , 23.3269  , 19.94855 ,
       15.4673  , 13.63625 , 13.22605 , 14.8213  , 18.0552  , 13.32105 ,
       13.0994  , 14.6779  , 10.54335 ,  5.0829  , 16.6973  , 17.58145 ,
       16.5081  , 17.77125 , 13.2894  , 13.66955 , 14.75565 , 19.63335 ,
       22.2223  , 20.54855 , 12.78375 , 13.4154  , 17.8977  , 17.67625 ,
       23.76855 , 17.9921  , 20.6746  , 15.15105 , 12.05855 , 12.7521  ,
       19.255   , 26.2302  , 19.85415 , 13.88835 , 17.9835  , 22.9796  ,
       27.43085 , 26.64125 , 21.81145 , 25.2523  , 23.2     , 26.64105 ,
       26.92665 , 25.6629  , 26.57835 , 28.50335 , 24.33665 , 21.8744  ,
       21.9375  , 15.7827  , 23.5475  , 24.1152  , 21.0854  , 20.86435 ,
       21.37565 , 23.07415 , 26.6725  , 21.55815 , 19.53835 , 21.30645 ,
       24.62125 , 23.8319  , 21.81165 , 16.8637  , 19.3802  , 21.5904  ,
       24.3998  , 28.69375 , 30.74625 , 29.92435 , 22.8519  , 24.6523  ,
       25.78875 , 27.14605 , 19.4752  , 15.05625 , 20.26415 , 23.51585 ,
       24.17915 , 22.63185 , 18.8752  , 22.8848  , 28.85105 , 26.8948  ,
       26.8621  , 29.54585 , 29.2304  , 27.33685 , 26.3571  , 27.87355 ,
       27.65125 , 24.58915 , 26.04165 , 27.24085 , 29.2619  , 27.495   ,
       28.8202  , 29.79875 , 28.63065 , 27.55605 , 28.3454  , 29.19835 ,
       28.28335 , 29.04125 , 29.2306  , 30.335   , 31.37645 , 32.1348  ,
       32.07125 , 33.965   , 33.6496  , 30.55645 , 31.56645 , 28.3144  ,
       28.75665 , 28.91415 , 26.2946  , 27.1146  , 28.4721  , 29.8931  ,
       32.41835 , 33.17585 , 32.98605 , 29.89375 , 30.55585 , 31.21915 ,
       29.9877  , 29.7354  , 27.2421  , 32.7346  , 36.04875 , 37.6271  ,
       32.6396  , 33.7127  , 32.0396  , 33.7756  , 39.33065 , 34.3754  ,
       37.53145 , 35.1019  , 35.1325  , 36.61685 , 38.06835 , 37.62665 ,
       40.24565 , 39.5198  , 32.7027  , 33.2398  , 32.51355 , 32.73415 ,
       33.39665 , 33.3021  , 35.2598  , 36.20625 , 37.78415 , 37.27915 ,
       35.7321  , 30.65125 , 27.4956  , 31.15625 , 34.50085 , 35.3225  ,
       36.96315 , 36.71085 , 34.8802  , 34.24935 , 33.1448  , 35.3544  ,
       36.14335 , 37.56335 , 36.55395 , 35.5123  , 34.88105 , 35.38585 ,
       34.9754  , 33.3971  , 31.91335 , 32.22895 , 33.1127  , 33.83895 ,
       32.70185 , 12.12    , 30.90355 , 29.79835 , 30.05125 , 31.0927  ,
       32.355   , 30.9348  , 29.7998  , 33.3025  , 31.78665 , 32.63895 ,
       34.47    , 35.1327  , 32.45    , 33.08145 , 34.3444  , 35.44915 ,
       32.76645 , 32.8602  , 28.94625 , 28.2827  , 27.7146  , 28.50375 ,
       28.9779  , 29.29335 , 28.15625 , 27.6525  , 28.25335 , 27.0202  ,
       26.6096  , 28.59855 , 30.5244  , 25.12565 , 27.20895 , 29.83065 ,
       30.39875 , 29.29315 , 26.5148  , 25.88315 , 25.6     , 27.11665 ,
       29.95665 , 29.00935 , 26.92605 , 20.99065 , 21.9056  , 25.1571  ,
       21.55835 , 21.65355 , 19.5698  , 25.4102  , 26.9575  , 23.0423  ,
       22.5054  , 25.63125 , 23.6421  , 22.82145 , 24.1471  , 26.5152  ,
       27.93605 , 26.4844  , 26.1375  , 25.75665 , 23.38855 , 21.97    ,
       15.49545 , 18.055   , 18.4971  , 17.8021  , 16.1923  , 16.4769  ,
       15.40375 , 14.07835 , 13.73105 , 17.09455 , 17.77065 , 19.69685 ,
       21.08565 , 23.76915 , 16.16125 , 14.07815 , 16.2246  , 17.3602  ,
       16.31915 , 16.8873  , 19.03335 , 18.2446  , 17.51855 , 12.4371  ,
       12.87915 , 16.9502  , 14.0779  , 14.4881  , 16.19335 , 15.8452  ,
       17.9604  , 22.7898  , 23.4527  , 21.4006  , 12.9102  , 16.0979  ,
       19.4754  , 19.5073  , 21.77875 , 16.91815 , 14.8669  , 14.7094  ,
       14.7096  , 16.91915 , 18.4969  , 20.075   , 20.4854  , 17.1081  ,
       16.76085 , 15.08835 , 11.80565 , 12.97355 , 12.945   , 14.72325 ,
       11.01665 , 11.3321  , 12.7523  , 11.585   , 11.17435 ])

In [158]:
df['hum'].unique()

array([80.5833, 69.6087, 43.7273, 59.0435, 43.6957, 51.8261, 49.8696,
       53.5833, 43.4167, 48.2917, 68.6364, 59.9545, 47.0417, 53.7826,
       49.875 , 48.375 , 53.75  , 86.1667, 74.1739, 53.8333, 45.7083,
       40.    , 43.6522, 49.1739, 61.6957, 86.25  , 68.75  , 79.3043,
       65.1739, 72.2174, 60.375 , 82.9565, 77.5417, 43.7826, 58.5217,
       92.9167, 56.8333, 73.8333, 53.7917, 49.4783, 43.7391, 50.6364,
       54.4167, 45.7391, 37.5833, 31.4348, 42.3478, 50.5   , 51.6667,
       18.7917, 40.7826, 60.5   , 57.7778, 42.3043, 69.7391, 71.2174,
       68.    , 87.6364, 53.5   , 44.9583, 31.8333, 61.0417, 78.9167,
       94.8261, 55.1304, 42.0833,  0.    , 64.9565, 59.4583, 52.7391,
       49.6957, 65.5652, 77.6522, 60.2917, 52.5217, 37.9167, 47.375 ,
       73.7391, 62.4583, 83.9565, 49.5   , 39.4167, 49.3913, 30.2174,
       31.4167, 64.6667, 91.8333, 68.625 , 65.375 , 48.    , 42.625 ,
       64.2083, 47.0833, 83.625 , 87.75  , 85.75  , 71.6956, 73.9167,
       81.9167, 54.0417, 67.125 , 88.8333, 47.9583, 54.25  , 66.5833,
       61.4167, 40.7083, 72.9583, 88.7917, 81.0833, 77.6667, 72.9167,
       83.5417, 70.0833, 50.3333, 76.2083, 73.    , 69.7083, 73.7083,
       44.4167, 59.    , 54.125 , 63.1667, 58.875 , 48.9167, 63.2917,
       74.75  , 86.3333, 92.25  , 86.7083, 78.7917, 83.7917, 87.    ,
       82.9583, 71.9583, 62.6667, 74.9583, 81.    , 74.0833, 69.625 ,
       67.75  , 81.875 , 68.5   , 63.6667, 67.7083, 30.5   , 35.4167,
       45.625 , 65.25  , 60.    , 59.7917, 62.2083, 65.4583, 74.7917,
       49.4583, 50.7083, 47.1667, 68.8333, 73.5833, 67.0417, 66.6667,
       74.625 , 77.0417, 70.75  , 70.3333, 57.3333, 48.3333, 51.3333,
       65.8333, 63.4167, 49.7917, 39.625 , 44.4583, 68.25  , 63.7917,
       59.0417, 74.3333, 65.125 , 75.7917, 60.9167, 57.8333, 63.5833,
       55.9167, 47.625 , 59.125 , 58.5   , 60.4167, 65.0417, 70.7083,
       69.125 , 58.0417, 50.    , 55.0833, 75.7083, 54.0833, 40.2917,
       58.3333, 46.5833, 48.0833, 49.125 , 65.75  , 75.75  , 63.0833,
       75.5   , 75.2917, 59.2083, 57.0417, 42.4167, 42.375 , 41.5   ,
       81.75  , 71.2083, 57.5417, 72.2917, 67.4167, 77.    , 47.    ,
       45.5417, 77.1667, 76.125 , 85.    , 56.1765, 55.4583, 54.8333,
       63.9167, 72.7083, 71.6667, 74.2083, 79.0417, 88.6957, 91.7083,
       93.9565, 89.7917, 75.375 , 71.375 , 69.2174, 71.25  , 70.9167,
       71.8333, 69.5   , 69.    , 88.125 , 90.    , 90.2083, 97.25  ,
       84.5   , 84.8333, 88.5417, 84.875 , 69.9167, 64.75  , 79.1667,
       76.0833, 71.    , 64.7917, 62.0833, 68.4167, 70.125 , 72.75  ,
       73.375 , 80.875 , 90.625 , 89.6667, 71.625 , 48.6667, 57.9583,
       70.1667, 89.5217, 63.625 , 57.4167, 62.9167, 74.125 , 77.2083,
       62.2917, 72.0417, 81.2917, 58.5833, 88.25  , 62.375 , 68.375 ,
       71.875 , 70.2083, 62.25  , 51.9167, 73.4583, 75.875 , 72.1667,
       75.8333, 81.3333, 44.625 , 55.2917, 45.8333, 58.7083, 68.875 ,
       93.    , 57.5833, 41.    , 50.2083, 68.4583, 91.    , 96.25  ,
       54.9167, 64.375 , 68.1667, 69.8333, 74.3043, 83.0833, 61.3333,
       52.4583, 62.5833, 61.2917, 77.5833, 82.7083, 94.9583, 97.0417,
       58.    , 69.5833, 50.75  , 49.    , 67.0833, 66.375 , 50.0417,
       56.0833, 58.625 , 63.75  , 59.5417, 85.8333, 68.1304, 50.6957,
       76.25  , 50.3913, 61.5833, 69.25  , 38.1304, 44.125 , 41.4583,
       52.4167, 54.2083, 53.1667, 46.5   , 64.6522, 84.75  , 80.2917,
       45.75  , 41.9167, 52.25  , 71.6087, 44.3333, 49.75  , 45.    ,
       83.125 , 79.625 , 91.125 , 83.5833, 76.9583, 54.3333, 31.125 ,
       40.0833, 41.6667, 50.7917, 67.2917, 52.6667, 77.9583, 68.7917,
       62.2174, 49.625 , 56.2083, 54.    , 73.125 , 46.4583, 41.125 ,
       50.875 , 53.125 , 63.4583, 53.4583, 51.5833, 50.7826, 59.4348,
       56.7917, 73.75  , 39.5833, 49.0833, 61.5417, 65.7083, 62.125 ,
       40.3333, 50.625 , 45.6667, 56.75  , 35.0417, 47.6957, 61.75  ,
       84.2083, 75.5833, 72.875 , 80.7917, 82.125 , 69.4167, 88.0833,
       47.7917, 29.    , 48.125 , 43.9167, 58.0833, 67.625 , 50.4348,
       39.6667, 46.9583, 37.4167, 37.7083, 25.4167, 27.5833, 31.75  ,
       43.5   , 46.9565, 46.625 , 40.8333, 50.2917, 56.1667, 39.0417,
       56.9167, 61.25  , 69.4583, 68.2917, 76.6667, 45.4167, 42.7917,
       75.6667, 48.9583, 57.    , 65.9583, 79.7083, 76.8333, 73.5417,
       74.    , 66.4167, 68.5833, 74.4167, 55.2083, 36.0417, 48.0417,
       57.625 , 78.9583, 79.4583, 69.7917, 52.    , 52.3333, 53.0417,
       81.125 , 76.5833, 77.4583, 74.7083, 73.25  , 67.    , 49.2917,
       75.5417, 49.3333, 48.7083, 61.125 , 56.7083, 46.7917, 43.7083,
       58.7917, 83.3333, 58.2083, 56.9583, 58.9583, 50.4167, 59.875 ,
       77.7917, 57.375 , 47.9167, 37.3333, 36.    , 42.25  , 48.875 ,
       60.125 , 51.875 , 44.7083, 49.2083, 53.875 , 45.7917, 45.0833,
       68.3333, 66.75  , 63.3333, 52.9583, 48.5833, 71.7917, 64.5   ,
       50.5833, 57.7083, 60.0417, 84.4167, 86.5417, 65.5   , 59.6667,
       66.875 , 70.4167, 64.25  , 65.4167, 70.375 , 62.0417, 71.5833,
       73.2917, 54.5417, 68.6667, 61.9583, 57.0833, 60.3333, 71.1667,
       73.4167, 67.375 , 61.5   , 71.2917, 84.5833, 73.0417, 62.    ,
       58.75  , 63.8333, 81.5   , 79.0833, 81.0417, 73.625 , 79.9167,
       54.75  , 50.375 , 63.7083, 67.25  , 50.1667, 87.25  , 53.6667,
       61.8333, 46.7083, 69.0833, 54.2917, 64.9167, 87.1667, 79.375 ,
       62.75  , 70.8333, 70.9583, 76.1667, 46.3333, 53.9167, 64.0417,
       55.8333, 69.2917, 72.8333, 57.2917, 51.    , 64.1667, 80.0417,
       80.7083, 72.    , 88.    , 82.5455, 58.1667, 52.2083, 53.2917,
       49.4167, 33.3478, 64.5417, 65.9167, 74.1667, 66.2917, 62.3333,
       61.375 , 56.875 , 40.4583, 46.8333, 53.5417, 78.6667, 55.5652,
       64.9583, 80.6667, 82.3333, 76.75  , 48.5   , 76.4167, 90.5417,
       92.5   , 64.2917, 83.875 , 90.7083, 66.625 , 62.5417, 66.7917,
       55.6667, 51.5417, 79.1304, 73.4783, 65.2917, 57.75  ])

In [159]:
df['windspeed'].unique()

array([10.749882 , 16.652113 , 16.636703 , 10.739832 , 12.5223   ,
        6.0008684, 11.304642 , 17.875868 , 24.25065  , 14.958889 ,
        8.182844 , 20.410009 , 20.167    ,  8.478716 , 10.583521 ,
       12.625011 , 12.999139 ,  9.833925 , 13.957239 , 13.125568 ,
       23.667214 , 11.52199  , 16.5222   , 10.60811  ,  8.696332 ,
       19.68795  ,  7.627079 ,  8.2611   ,  9.739455 ,  4.9568342,
       12.541864 ,  3.565271 , 17.708636 , 18.609384 ,  8.565213 ,
       10.792293 ,  9.5006   ,  3.0423561, 12.652213 , 14.869645 ,
        7.27285  , 13.625589 , 17.479161 , 27.999836 , 19.522058 ,
       16.869997 , 15.416968 , 17.749975 , 34.000021 , 14.956745 ,
       20.625682 , 13.110761 ,  6.305571 , 16.783232 , 23.218113 ,
       12.500257 ,  8.391616 , 19.408962 , 14.500475 , 20.624811 ,
       15.125518 , 13.624182 , 16.875357 , 23.000229 , 22.870584 ,
        8.08355  , 14.75005  , 17.545759 , 15.60899  , 14.791925 ,
       18.130468 ,  9.174042 , 12.348703 , 13.608839 , 14.041793 ,
       15.478139 , 24.667189 , 13.917307 , 19.348461 , 15.12525  ,
       15.695487 , 16.333729 , 15.458575 , 14.041257 , 12.3481   ,
       14.217668 , 15.208732 , 11.583496 , 14.582282 , 17.333436 ,
       13.208782 , 12.208271 , 25.833257 , 26.000489 , 17.625221 ,
       10.874904 , 15.208464 ,  8.916561 ,  9.833389 , 21.739758 ,
       18.416893 , 16.791339 ,  7.4169   , 15.167125 , 22.834136 ,
       20.334232 , 10.958989 , 10.584057 , 16.208975 , 21.792286 ,
       14.707907 , 12.875725 , 12.417311 , 21.8755   , 20.9174   ,
       21.500836 , 16.084221 , 15.750025 ,  7.125718 , 12.291418 ,
       22.958689 , 22.042732 , 19.791264 , 15.292482 , 10.75015  ,
        5.0007125, 11.792    ,  7.749957 ,  8.083014 , 12.707689 ,
       12.041575 ,  9.04165  , 10.249593 ,  8.500357 , 18.582718 ,
       13.499964 ,  7.250271 ,  8.375871 ,  9.916536 , 15.667414 ,
       13.875164 , 10.333611 , 13.376014 , 16.125493 , 15.416164 ,
       14.333846 ,  8.792075 ,  7.459043 , 19.583229 , 16.959107 ,
        8.250514 ,  9.292364 ,  8.167032 , 12.583136 ,  9.166739 ,
       10.042161 ,  9.417118 , 10.37495  , 20.45845  , 18.041961 ,
       11.250104 , 13.833557 ,  9.582943 ,  8.000336 ,  6.834    ,
       10.416825 , 11.458675 , 11.541554 , 15.999868 , 14.875675 ,
        6.3337311,  7.208396 ,  9.666961 , 17.542007 , 12.415904 ,
        6.874736 ,  7.709154 , 15.333486 ,  5.4591064,  8.459286 ,
       10.6664   , 15.083643 , 12.292557 , 18.916579 , 13.417018 ,
        9.790911 , 16.124689 , 12.249811 , 13.958914 , 16.417211 ,
       14.458868 ,  8.7502   ,  7.625739 , 14.875407 ,  8.9177   ,
        8.791807 , 11.334457 ,  6.0841561, 13.417286 , 12.292021 ,
       11.958093 , 11.667246 , 11.291979 , 11.042471 , 10.500039 ,
       13.79195  ,  9.084061 , 13.20905  , 12.374632 , 15.29275  ,
       13.499629 , 10.125107 , 11.041332 ,  8.416607 , 14.167418 ,
       14.916411 , 13.999918 , 15.834043 ,  9.625689 , 15.624936 ,
        9.333636 ,  6.999289 , 16.666518 , 18.54225  ,  9.833121 ,
       16.958236 , 14.125811 ,  5.6254875, 25.166339 , 20.412153 ,
       10.708275 ,  8.375536 ,  5.5833311,  9.500332 ,  9.375243 ,
       12.416775 , 13.833289 , 14.250632 , 23.044181 ,  6.5003936,
       12.914116 ,  8.333393 , 10.291736 ,  7.708618 ,  5.957171 ,
        9.500868 , 11.2091   , 18.166782 , 11.000261 , 12.708225 ,
       11.958361 , 10.166714 ,  9.041918 ,  6.4590814,  8.584375 ,
        5.2505689,  5.2516811,  3.3754064,  7.917457 ,  9.958143 ,
       11.583161 , 13.833825 , 19.583832 , 14.874871 ,  5.5841686,
       13.792218 , 11.87575  ,  1.5002439,  3.0420814,  4.25115  ,
        2.8343814,  9.583814 , 16.62605  ,  9.499729 , 15.000161 ,
       17.291561 , 18.875039 , 11.750393 ,  7.375829 , 16.303713 ,
       28.292425 , 14.833532 ,  6.2086689,  6.6673375,  7.959064 ,
       11.166086 ,  9.959014 , 13.250121 , 15.375093 , 23.541857 ,
       11.833339 ,  7.12545  ,  9.083257 ,  5.5001439, 18.209193 ,
       12.667154 ,  6.1676314,  3.834075 ,  4.6255125,  4.1671186,
       12.667489 , 21.083225 , 14.208154 , 18.875307 , 20.541932 ,
       13.375411 ,  9.167543 , 20.459254 , 11.291711 , 15.041232 ,
       12.45865  ,  9.249618 , 22.500275 , 11.209368 ,  6.6260186,
        4.5841936,  9.522174 , 17.292164 , 18.167586 , 14.750586 ,
        6.750518 ,  6.4174811,  5.6252061,  4.1679561, 15.583061 ,
       17.833725 , 16.083886 ,  5.5420189, 15.625807 ,  4.4582939,
        9.41685  ,  4.0842061, 17.958814 , 17.458525 , 16.292189 ,
       11.375193 , 11.584032 ,  4.1252436, 14.8338   ,  3.167425 ,
       18.374482 , 12.750368 , 10.391097 , 16.044155 , 12.62615  ,
       19.695387 ,  8.000604 ,  9.000579 , 14.750318 , 12.875189 ,
       22.087555 , 24.499957 , 12.3749   ,  8.709129 , 11.249836 ,
       11.708786 , 12.833314 ,  6.6263   , 12.565984 , 12.124789 ,
       25.333236 , 12.541261 , 16.834286 , 15.500986 , 23.39171  ,
       27.833743 , 13.58425  , 14.917014 , 13.375746 ,  7.417436 ,
        8.292389 , 10.791757 ,  4.9175186, 14.125543 , 16.08335  ,
       14.458064 , 17.541739 , 12.541529 , 11.959232 , 11.791732 ,
       10.3046   ,  9.874393 ,  8.959307 , 13.000479 ,  7.834243 ,
       19.416332 , 27.417204 , 11.207961 ,  9.458993 , 12.1672   ,
        6.125475 , 13.791682 , 12.792243 , 16.958504 , 15.348561 ,
       13.783039 , 15.709557 , 12.791171 , 15.916989 , 28.250014 ,
       13.750343 , 17.958211 , 12.958939 , 15.208129 ,  9.708568 ,
       22.416257 , 13.458625 , 23.167193 , 29.584721 , 27.7916   ,
       14.913329 , 13.916771 , 15.87565  ,  7.583864 ,  7.417168 ,
        8.501161 , 10.875239 ,  8.125157 ,  6.0004061,  7.876654 ,
        7.7921   , 12.916461 , 25.917007 , 19.541957 , 21.41655  ,
        9.250489 , 11.541889 , 20.913313 ,  6.708911 , 12.125325 ,
       14.708443 , 20.125996 , 18.416357 , 15.583932 , 23.999132 ,
       16.708125 , 19.783358 , 19.458743 , 10.416557 , 12.791439 ,
       19.083543 , 18.333143 ,  4.4172564, 10.041357 , 19.000329 ,
       23.084582 , 16.708661 , 11.833875 , 23.291411 ,  8.708325 ,
        7.832836 , 11.499746 , 10.458432 ,  9.249886 ,  8.957632 ,
       10.916846 , 10.250464 , 10.041893 , 15.458307 , 19.833943 ,
       14.499604 , 21.042221 , 15.874779 ,  8.249911 , 15.082839 ,
       14.250364 ,  9.875264 ,  8.208304 , 15.374825 ,  5.626325 ,
       17.042589 , 15.624668 ,  7.917189 , 13.332464 , 14.416457 ,
       13.166907 , 19.7918   ,  9.000043 , 13.083693 , 15.916721 ,
       12.499654 , 12.333829 , 19.083811 , 14.041525 ,  5.167375 ,
       10.54245  , 11.750661 ,  9.667229 , 14.374582 , 22.999693 ,
       17.000111 , 11.166689 , 11.707982 ,  9.917139 ,  7.625404 ,
        7.958729 , 12.250414 , 12.041307 ,  9.750175 , 20.125661 ,
       23.292014 , 18.208925 , 11.50055  , 11.082939 , 11.291443 ,
       13.082889 ,  8.457879 , 12.999943 ,  9.791514 , 10.958118 ,
        8.417143 , 10.166379 , 10.166111 ,  5.41695  ,  9.626493 ,
       11.000529 ,  7.666743 ,  9.208614 , 11.083743 , 14.000789 ,
       14.2911   ,  6.2926936,  9.291761 , 11.0416   , 19.082471 ,
       11.416532 , 10.292339 , 11.083475 ,  8.666718 , 17.249686 ,
       19.458207 , 10.4587   , 16.000471 , 13.834093 ,  9.126204 ,
       11.333586 , 11.374657 , 15.500718 , 11.917089 ,  5.79215  ,
        8.708593 ,  4.8756436,  4.7089811,  5.6679186,  4.8337686,
       16.375336 ,  8.625111 , 12.791975 ,  7.541654 ,  5.1668189,
        7.583529 ,  4.2927436, 15.833507 ,  9.542207 , 11.500282 ,
       18.833968 , 17.333771 ,  8.833682 ,  5.5422936,  6.958821 ,
       16.583907 ,  6.0422811, 23.958329 , 14.416725 , 10.333343 ,
       19.000061 , 14.958286 ,  9.541068 , 16.3748   ,  9.000914 ,
       10.999993 , 15.249468 ,  9.042186 ,  6.0838814,  6.999825 ,
        4.4585686,  7.875582 , 17.957675 ,  9.457854 , 12.708493 ,
       12.7501   , 12.584007 , 12.166932 , 15.751164 , 18.667004 ,
       19.834479 , 12.208807 ,  6.791857 ,  7.874979 , 11.125618 ,
        5.4593811,  6.3345686,  4.8762064,  8.333125 ,  8.875289 ,
       15.791364 , 26.666536 , 23.9994   , 14.271603 , 10.542182 ,
       18.125443 , 12.000236 , 15.833775 , 11.625371 , 20.375236 ,
       23.304945 , 14.375386 ,  3.8756686,  8.5425   , 11.625639 ,
       22.917082 , 13.374875 , 10.250129 , 12.041843 , 15.250004 ,
       15.749489 ,  5.542575 ,  6.917482 ,  3.5423436,  9.917407 ,
       25.250357 , 10.0835   ,  3.12555  , 15.916654 , 14.125007 ,
        7.739974 ,  3.9175436,  4.0001814, 11.666643 , 21.709407 ,
       11.708518 ,  6.792393 , 10.584325 , 12.750636 , 10.916779 ,
        8.792343 ,  6.749714 ,  6.5833061, 14.834068 , 12.334164 ,
        8.875021 , 25.083661 , 27.292182 ,  5.1744368, 21.208582 ,
       23.458911 ,  8.333661 , 23.500518 , 10.374682 ])

- 01-01 New Years Day January  1 
- 16-01 Martin Luther King’s Birthday January 16 
- 13-02 Lincolns Birthday February 
- 20-02 President’s Day February 20
- 31-03 Cesar Chavez’ Birthday March 31
- 29-05 Memorial Day May 29
- 04-07 Independence Day July 4
- 05-07 Bloody Thursday July 5
- 28-07 Harry Bridges’ Birthday July 28
- 04-09 Labor Day September 4
- 10-11 Veterans’ Day November 10
- 23-11 Thanksgiving Day November 23
- 24-11 Day After Thanksgiving November 24
- 24-12 Christmas Eve December 24
- 25-12 Christmas Day December 25
- 31-12 New Year’s Eve December 31

Spring: 20-03-2018 20-06-2018
Summer: 21-06-2018 23-09-2018
Autumn

In [177]:
def season_of_date(date_UTC):
    year = str(date_UTC.year)
    time = str(date_UTC.time)
    seasons = {'spring': pd.date_range(start= year +'-03-21' + time, end=year + '-06-20' + time),
               'summer': pd.date_range(start= year + '-06-21' + time, end= year + '-09-22' + time),
               'autumn': pd.date_range(start= year + '-09-23' + time, end= year + '-12-20' + time)}
    if date_UTC in seasons['spring']:
        return 'spring'
    if date_UTC in seasons['summer']:
        return 'summer'
    if date_UTC in seasons['autumn']:
        return 'autumn'
    else:
        return 'winter'

In [ ]:
df["estacion"] = season_of_date(df)

In [ ]:
df["estacion"] = pd.cut(df["dteday"], bins=["21-03-2018"] )