### Sprint 1 - ANOVA

**Hecho el 24/01:** 
- comprobamos las variables que influyen en la variable respuesta y eliminamos las que no.
- hemos creado un csv nuevo para trabajar con el las asunciones y demás.

In [1]:
import numpy as np
import pandas as pd
import random 

import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from sklearn.preprocessing import StandardScaler

plt.rcParams["figure.figsize"] = (10,8)

In [11]:
df = pd.read_csv("../datos/bikes_clean.csv", index_col = 0)

In [12]:
df.head(2)

,season,yr,mnth,holiday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,weekday
instant,,,,,,,,,,,,,,
1,winter,2018,1,1,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985,1
2,winter,2018,2,0,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801,4

sklearn entenderá los valores numéricos como **encoding**.

In [4]:
df.columns

Index(['dteday', 'season', 'yr', 'mnth', 'holiday', 'workingday', 'weathersit',
       'temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt',
       'weekday'],
      dtype='object')

In [5]:
df.isnull().sum()

dteday        0
season        0
yr            0
mnth          0
holiday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
weekday       0
dtype: int64

In [6]:
df.shape

(730, 15)

In [7]:
df.columns

Index(['dteday', 'season', 'yr', 'mnth', 'holiday', 'workingday', 'weathersit',
       'temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt',
       'weekday'],
      dtype='object')

In [8]:
lm = ols('registered ~ season + yr + mnth + holiday + workingday + weathersit + temp + atemp + hum + windspeed + casual + cnt + weekday', data=df).fit()
sm.stats.anova_lm(lm)

               df        sum_sq       mean_sq             F    PR(>F)
season        3.0  1.881109e+08  6.270365e+07  3.160289e+26  0.000000
yr            1.0  6.319184e+08  6.319184e+08  3.184894e+27  0.000000
mnth          1.0  1.845005e+07  1.845005e+07  9.298899e+25  0.000000
holiday       1.0  1.110604e+07  1.110604e+07  5.597490e+25  0.000000
workingday    1.0  2.628858e+05  2.628858e+05  1.324955e+24  0.000000
weathersit    1.0  8.260723e+07  8.260723e+07  4.163438e+26  0.000000
temp          1.0  2.855805e+08  2.855805e+08  1.439337e+27  0.000000
atemp         1.0  6.182051e+06  6.182051e+06  3.115779e+25  0.000000
hum           1.0  4.339402e+04  4.339402e+04  2.187076e+23  0.000000
windspeed     1.0  2.395524e+07  2.395524e+07  1.207354e+26  0.000000
casual        1.0  1.654739e+07  1.654739e+07  8.339953e+25  0.000000
cnt           1.0  5.087815e+08  5.087815e+08  2.564279e+27  0.000000
weekday       1.0  2.502221e-23  2.502221e-23  1.261130e-04  0.991043
Residual    714.0  1.416655e-16  1.984111e-19           NaN       NaN

In [9]:
len(df["registered"].unique())

678

In [10]:
df["registered"].value_counts().sum()

730