### Sprint 1 - ANOVA

**DAILY 24/01:** Borrar las fechas y poner bien los encodings.

In [1]:
import numpy as np
import pandas as pd
import random 

import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from sklearn.preprocessing import StandardScaler

plt.rcParams["figure.figsize"] = (10,8)

/home/adalaber/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
/home/adalaber/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

In [2]:
df = pd.read_csv("../datos/bikes_clean.csv", index_col = 0)

In [3]:
df.head(2)

,dteday,season,yr,mnth,holiday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,weekday
instant,,,,,,,,,,,,,,,
1,2018-01-01,winter,0,1,1,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985,1
2,2018-02-01,winter,0,2,0,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801,4

sklearn entenderá los valores numéricos como **encoding**.

In [4]:
df.columns

Index(['dteday', 'season', 'yr', 'mnth', 'holiday', 'workingday', 'weathersit',
       'temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt',
       'weekday'],
      dtype='object')

In [5]:
df.isnull().sum()

dteday        0
season        0
yr            0
mnth          0
holiday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
weekday       0
dtype: int64

In [6]:
df.shape

(730, 15)

In [7]:
lm = ols('registered ~ dteday  + season + yr + mnth + holiday + workingday + weathersit + temp + atemp + hum + windspeed + casual + cnt + weekday' , data=df).fit()
sm.stats.anova_lm(lm)

ValueError: shapes (15,745) and (730,) not aligned: 745 (dim 1) != 730 (dim 0)

In [9]:
df.columns

Index(['dteday', 'season', 'yr', 'mnth', 'holiday', 'workingday', 'weathersit',
       'temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt',
       'weekday'],
      dtype='object')

In [23]:
lm = ols('registered ~ season + yr + mnth + holiday + workingday + weathersit + temp + atemp + hum + windspeed + casual + cnt + weekday', data=df).fit()
sm.stats.anova_lm(lm)

               df        sum_sq       mean_sq             F    PR(>F)
season        3.0  1.881109e+08  6.270365e+07  1.734598e+28  0.000000
yr            1.0  6.319184e+08  6.319184e+08  1.748103e+29  0.000000
mnth          1.0  1.845005e+07  1.845005e+07  5.103916e+27  0.000000
holiday       1.0  1.110604e+07  1.110604e+07  3.072311e+27  0.000000
workingday    1.0  2.628858e+05  2.628858e+05  7.272321e+25  0.000000
weathersit    1.0  8.260723e+07  8.260723e+07  2.285199e+28  0.000000
temp          1.0  2.855805e+08  2.855805e+08  7.900136e+28  0.000000
atemp         1.0  6.182051e+06  6.182051e+06  1.710167e+27  0.000000
hum           1.0  4.339402e+04  4.339402e+04  1.200427e+25  0.000000
windspeed     1.0  2.395524e+07  2.395524e+07  6.626840e+27  0.000000
casual        1.0  1.654739e+07  1.654739e+07  4.577576e+27  0.000000
cnt           1.0  5.087815e+08  5.087815e+08  1.407464e+29  0.000000
weekday       1.0  3.308722e-24  3.308722e-24  9.153060e-04  0.975873
Residual    714.0  2.581025e-18  3.614881e-21           NaN       NaN

In [ ]:
len(df["registered"].unique())

In [ ]:
df["registered"].value_counts().sum()